.DiaryCalendar {
  width: 1100px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  .month {
    display: flex;
    justify-content: space-between;
    .prevMonth,
    .nextMonth {
      font-size: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .thisMonth {
      font-size: 30px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .rows {
    display: flex;
    .column {
      flex-grow: 1;
      height: 140px;
      width: 1-0%;
      background-color: #faeee0;
      border: 1px solid #b9aea0;
    }
  }
  .row--day {
    .column {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dbd0c0;
    }
  }
  .row--date {
    .column {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  .Calendar {
    .date {
      font-weight: bold;
      text-align: center;
    }
    .content {
      cursor: pointer;
      margin-top: 5px;
    }
    .EditForm {
      background-color: rgb(255, 255, 255);
      width: 500px;
      padding: 40px 20px;
      box-sizing: border-box;
      position: fixed;
      left: 0;
      right: 0;
      margin: auto;
      top: 400px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      .inputBox {
        display: flex;
        height: 40px;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          background-color: #ececec;
        }
        input,
        select {
          width: 100%;
          border: 1px solid rgb(231, 210, 210);
        }
      }
      .inputBox:first-child {
        label {
          border-top-left-radius: 10px;
        }
        input {
          border-top-right-radius: 10px;
        }
      }
      .inputBox:last-child {
        background-color: black;
        height: 10000px;
        label {
          height: 1000px;
          border-bottom-left-radius: 10px;
        }
        input {
          border-bottom-right-radius: 10px;
        }
      }
      button {
        margin-top: 30px;
      }
    }
  }
}
