// COMMON
// font-family: 'IBM Plex Sans KR', sans-serif;
// font-family: 'Nanum Pen Script', cursive;

.Inner {
  position: relative;
  width: 1100px;
  left: 0;
  right: 0;
  margin: auto;
}

//// Header
.Header {
  height: 130px;
  position: relative;
  border-bottom: 1px solid #dbd0c0;
  .title {
    height: 100%;
    position: absolute;
    left: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    h1 {
      font-size: 60px;
      cursor: pointer;
    }
    h2 {
      font-size: 40px;
      cursor: pointer;
    }
  }
  .nav {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    border: none;
    font-size: 20px;
    .nav-link {
      color: black;
    }
  }
}
//// MODAL
.Modal {
  background-color: Red;
  .Backdrop {
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .ModalOverlay {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

  @media (min-width: 768px) {
    .ModalOverlay {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
